table {
    margin-top: 100px;
    border-collapse: collapse;
    height: auto;
    width: 100%;
}

table tr th {
    background-color: rgb(219, 144, 166);
}

td {
    background-color: rgb(221, 175, 189);
}